form action="/new" method="post"
 input type="text" name="new_task" placeholder="Namn"
 input type="text" name="new_description" placeholder="Beskrivning"
 input type="submit" value="Lägg till"

h2 = "todo"
- @todo.each do |task|
    h2 = "#{task["name"]}"
    p = "#{task["description"]}"
    form action="/delete/#{task['id']}" method="post"
        input type="submit" value="Ta Bort"
    form action="/state/#{task['id']}" method="post"
        input type="submit" value="Färdig"
h2 = "färdig"
- @completed.each do |comptask|
    h2 = "#{comptask["name"]}"
    p = "#{comptask["description"]}"
    form action="/delete/#{comptask['id']}" method="post"
        input type="submit" value="Ta Bort"
