form action="/update/#{@todo['id']}" method="post"
 input type="text" name="new_task" placeholder="#{@todo['name']}"
 input type="text" name="new_description" placeholder="#{@todo['description']}"
 input type="submit" value="Uppdatera"