form action="/update/#{@todo['id']}" method="post"
 input type="text" name="new_task" value=@todo['name']
 input type="text" name="new_description" value=@todo['description']
 input type="submit" value="Uppdatera"